@model Examen_ToolsForEver.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:50px;">
    <div class="col-md-12">
        <span class="btn-block">Zoeken op productnaam of ID</span>
        <br />
        <form asp-action="" method="post" class="form-horizontal">
            <div class="form-group">
                <input value="" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" name="SearchString" value="Zoeken" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <span class="text-right" style="display:block;">Waarde alle locaties: //waarde hier</span>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Naam)</td>
                <td>@Html.DisplayNameFor(model => model.Type)</td>
                <td>@Html.DisplayNameFor(model => model.Fabriek)</td>
                <td>@Html.DisplayNameFor(model => model.InkoopWaarde)</td>

            </tr>
        </table>
    </div>
</div>
